LDC_DB_HOST=mysql-xxxx.alwaysdata.net
LDC_DB_NAME=nom_de_la_base
LDC_DB_USER=utilisateur_mysql
LDC_DB_PASS=mot_de_passe_mysql
LDC_APP_SECRET=chaine_aleatoire_longue
LDC_ALLOWED_ORIGIN=https://votre-domaine.alwaysdata.net
